/* cover setting */
body
::selection{
    background: rgba(255, 255, 255, 0);
}
.index_cover_container
::selection{
    background: #335712;
    color: #fff;
}

.index_cover_container{
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.92);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}
.index_cover_container::before{
    content:'';
    display: inline-block;
    height: 100vh;
    vertical-align: middle;
}
.index_cover_btn_box{
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}

/* cover title */
.index_cover_title{
    margin-bottom: 32px;
}
.index_cover_title span{
    color: rgb(71, 112, 20);
    font-size: 16px;
}

/* button setting */
.msg{
    display: block;
    margin: 20px auto;
    border: purple 1px solid;
}
.cover_button{
    display: block;
    width: 140px;
    height: 35px;
    background-color: rgb(189, 168, 145);
    color: white;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px auto;
    transition-duration: .3s;
    font-size: 13px;
}
.cover_button:hover{
    background-color: rgb(129, 114, 90);
    transition-duration: .3s;
}
#msg1, #msg2{
    width: 200px;
}
.sensor_desc_json{
    width: 80%;
    height: 200px;
    outline: brown 1px solid;
    margin: auto;
}