/* table background colour */
.fan_des_tr>th{
    background-color: rgba(197, 217, 241, 1);;
}
.fan_des_tr>.bcc_deep_blue{
    background-color: rgba(0, 176, 240, 1);
}
.fan_des_tr>.bcc_oliva_green{
    background-color: rgba(235, 241, 222, 1);
}

.bcc_blue, .fan_desc_tab_rpm .fan_desc_tr th, .fan_init_tr th{
    background-color: rgba(197, 217, 241, 1);;
}
.bcc_deep_blue{
    background-color: rgba(147, 226, 255, 0.486);
}
.bcc_oliva_green{
    background-color: rgba(235, 241, 222, 1);
}
.fan_desc_tab_rpm .fan_desc_tr th{
    width: 200px;
}