
/* html body width setting */
@media screen and (max-width: 1050px){
    body{
        padding: 30px;
        width: 1050px;
    }
}
.container{
    width: 990px;
    margin: 60px auto;
}



/* shortcut setting */
.hidden{  display: none;}
.transparet{ opacity: 0;}

.float_L{ float: left; }
.float_R{ float: right;}
.clear{   clear: both; }

.horizon_scroll_box{
    background-color: rgb(235, 235, 235);
    width: 100%;
    overflow-x: scroll;
}



/* font */
.font_text{ font-family: sans-serif, Arial;}
.h1_tag{
    font-size: 60px;
    font-weight: 800;
    color: rgba(112, 172, 40, 1);
    text-align: center;
    margin-bottom: 16px;
}
.h2_tag{
    width: 360px;
    background-color: rgba(31, 73, 125, 1);
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 8px;
}
.h2_tag span{ font-size: 14px;}



/* table setting */
th, tr, td{
    border: 1px solid #999;
    text-align: center;
}



/* - - - - - switch button - - - - - */
/* switch title */
.switch_container{
    height: 40px;
    box-sizing: border-box;
    margin-left: 16px;
    padding: 12px 0;
}
.switch_txt{
    font-size: 16px;
}
.switch_label{
    display: block;
    cursor: pointer;
}
/* switch button design */
.switch_box{
    position: relative;
    top: -5px;
    margin-left: 8px;
    width: 43px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    border-radius: 13px;
}
.switch_bcc{
    display: block;
    width: 200%;
    margin-left: -100%;
}
.switch_bcc::before, .switch_bcc::after{
    display: block;
    float: left;
    width: 50%;
    transition: margin 0.3s ease-in 0s;
}
/* switch background colour (ON) */
.switch_bcc::before {
    content: attr(turnOn);
    background: #65c466;
    color: rgba(255, 255, 255, 0);
}
/* switch background colour (OFF) */
.switch_bcc::after {
    content: attr(turnOff);
    background: #e9e9ea;
    color: rgba(255, 255, 255, 0);
}
.switch_round_btn{
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    margin: 2px;
    background: #fff;
    top: 0;
    left: 0px;
    border-radius: 12px;
    transition: all 0.3s ease-in 0s;
}





/* working on it */
input{
    border-color: rgba(1, 1, 1, 0);
    width: 100%;
    box-sizing: border-box;
}
.selects{
    border-color: rgba(1, 1, 1, 0);
    width: 100%;
    text-align-last: center;
    box-sizing: border-box;
}

/* margin */
.margin_top_8{ margin-top: 8px;}