.sku_name_tab, .sku_name_tr, .sku_name_tr>th{
    border: 1px solid rgba(99, 99, 99, 0);
}
.sku_name_tr>th:nth-child(1){
    width: 25%;
    background-color: rgb(255, 145, 0);
}
.sku_name_tr>th:nth-child(2){
    width: 12%;
}
.sku_name_tr>th:nth-child(3){
    width: 63%;
}

.sku_name_tab{
    font-size: 22px;
    width: 100%;
}
.sku_name input{
    font-size: 22px;
}

/* add module button setting */
.add_module_btn{
    width: 120px;
    margin: 9px 0 9px 16px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 3px 0;
    background-color: rgb(160, 229, 220);
    color: black;
    transition: .3s;
}
.add_module_btn:hover{
    background-color: rgb(100, 192, 180);
    color: white;
    transition: .3s;
}

/* delete module button setting */
.moduleDelete{
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-weight: default;
    transition: 0.3s;
}
.moduleDelete:hover{
    color: #fff;
    font-weight: 700;
    transition: 0.3s;
}

.node_type{
    width: 400px;
    /* background-color: rgba(250, 191, 143, 1); */
    background-color: rgb(255, 210, 173);
    font-size: 22px;
    text-align: center;
    padding: 8px;
    display: inline-block;
}
.fan_id{
    /* background-color: rgba(255, 255, 0, 1); */
    background-color: rgb(255, 252, 89);
    font-size: 22px;
    text-align: center;
    padding: 8px 15px;
    display: inline-block;
}

.nodes_tab{
    width: 100%;
}

/* background colour setting */
.nodes_tr>th{
    background-color: rgba(197, 217, 241, 1);
}
.nodes_tr>th:nth-child(4){
    background-color: #fff;
}
.nodes_tr>td:nth-child(6)>input{
    background-color: rgba(216, 228, 188, 1);
}
.nodes_tr>td:nth-child(8)>input{
    background-color: rgba(216, 228, 188, 1);
}

/* table width */
.nodes_tr>th:nth-child(1){
    width: 80px;
}
.nodes_tr>th:nth-child(2){
    width: 80px;
}
.nodes_tr>th:nth-child(3){
    width: 100px;
}
.nodes_tr>th:nth-child(4){
    width: 80px;
}
.nodes_tr>th:nth-child(n+5){
    width: 162.5px;
}

.node_type_box{
    margin-top: 16px;
}