/* table width */
.sensor_tr>th{
    background-color: rgba(197, 217, 241, 1);
}
.sensor_dis_tr>th{
    background-color: rgba(197, 217, 241, 1);
}

.discrete_container{
    margin-top: 16px;
}

/* discrete button */
#discreteBtn{
    height: 40px;
    box-sizing: border-box;
    margin-left: 16px;
    padding: 12px 0;
}
.discreteBtn_txt{
    font-size: 16px;
}

/* switch button */
.switchbox_container{
    position: relative;
    top: -5px;
    margin-left: 8px;
    width: 43px;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    border-radius: 13px;
}
.switch_label{
    display: block;
    cursor: pointer;
}
.switch_txt{
    display: block;
    width: 200%;
    margin-left: -100%;
}
.switch_txt::before, .switch_txt::after{
    display: block;
    float: left;
    width: 50%;
    transition: margin 0.3s ease-in 0s;
}
/* switch background colour (ON) */
.switch_txt::before {
    content: attr(turnOn);
    background: #65c466;
    color: rgba(255, 255, 255, 0);
}
/* switch background colour (OFF) */
.switch_txt::after {
    content: attr(turnOff);
    background: #e9e9ea;
    color: rgba(255, 255, 255, 0);
}
.switch_round_btn{
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    margin: 2px;
    background: #fff;
    top: 0;
    left: 0px;
    border-radius: 12px;
    transition: all 0.3s ease-in 0s;
}