/* table width */
.sensor_tab{ background-color: #fff;}
.sensor_tr > th, .sensor_tr > th > input{ background-color: rgba(197, 217, 241, 1);}
.sensor_sku_container{
    margin-bottom: 24px;
}

/* sensor sort */
.sku_title{
    color: rgb(37, 146, 132);
    font-weight: 900;
    font-size: 20px;
    padding: 0;

    /* border: none; */
    /* border-bottom: 2px solid rgb(37, 146, 132); */
}


/* sensor buttons */
.function_btn_box{
    margin-left: 8px;
}
.add_sensor_btn{
    width: 120px;
    margin: 5px 0;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 3px 0;
    background-color: rgb(160, 229, 220);
    color: black;
    transition: .3s;
}
.add_sensor_btn:hover{
    background-color: rgb(100, 192, 180);
    color: white;
    transition: .3s;
}
.delete_module_btn{
    width: 120px;
    margin: 2px 0;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 0;
    /* border: 1.5px solid rgb(199, 37, 35); */
    border: 2px solid rgb(198, 113, 39);
    color: rgb(198, 113, 39);
    transition: .3s;
    font-weight: 700;

}
.delete_module_btn:hover{
    background-color: rgb(198, 113, 39);
    color: white;
    transition: .3s;
}
/* add module button setting */
.add_module_btn{
    width: 120px;
    margin: 4px 16px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 0;
    background-color: rgb(252, 193, 141);
    color: black;
    transition: .3s;
}
.add_module_btn:hover{
    background-color: rgb(198, 113, 39);
    color: white;
    transition: .3s;
}


.sensorDelete{
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: rgb(37, 146, 132);
    transition: 0.3s;
}
.sensorDelete:hover{
    font-weight: 600;
    color: rgb(100, 192, 180);
    transition: 0.3s;
}